PORT=
DB_USER=
DB_PASS=
DB_NAME=
JWT_SECRET=
CLIENT_URL=
LIVE_CLIENT_URL=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
